html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-hegiht: 1.5;
}

body{
    font-family: 'Roboto Slab', serif;
    background-image: url('https://d362wsx8rkw9qn.cloudfront.net/assets/resized/sm/upload/e0/wl/gu/dw/mm_skyscraper-0-1280-0-1024.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.page-title {
    text-align: center;
    font-weight: 700;
}

.page-slogan {
    text-align: center;
}

.page-description {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
}

.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 20px;
}

.gallery-item .thumbnail {
    border: 5px solid #fff;
}

/* NAVIGATION BAR */
nav {
    background color: #FFF;
}

nav li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}

nav ul {
    display: inline;
}