<div class="container">

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Email -->
            <a class="fb-ic">
              <i class="far fa-envelope-open fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Youtube -->
            <a class="li-ic">
                <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Pinterest -->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Contact Me:  
      <a href="mailto:jkhnguyen@ucdavis.edu"><img src="http://pluspng.com/img-png/email-icon-png-download-icons-logos-emojis-email-icons-2400.png" width="25" height="20" alt="Email" ></a>
      <a href="https://www.linkedin.com/in/jkhnguyen/"><img src="https://image.flaticon.com/icons/svg/34/34227.svg" width="20" height="20" alt="LinkedIn" ></a>
      <a href="https://www.youtube.com/user/asucd"><img src="https://dezov.s3.amazonaws.com/media/black-youtube-logo-pngd1e-4b74-b2e7-745c6b3c0add.png" width="30" height="30" alt="YouTube" ></a>
      

    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  </div>